<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ldl.upanepochlog">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <activity
            android:name=".ui.LogSetActivity"
            android:exported="true" />

        <service
            android:name=".log.LogService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>